@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Toko Busana Sejahtera</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core"></a>ASP net Core</p>
</div>
